#menu {
  background-color: #555;
}
.menuItem {
  color: #fff;
  display: inline-block;
  margin: 10px 0px 10px 10px;  
}
#menu button {
  float: right;      
  margin: 50px 25px 15px 25px;     
}
.si {
  margin: 20px 25px 15px 25px;  
}