#menu {
  background-color: #234;
}
.menuItem {
  color: #fff;
  display: inline-block;
  margin: 10px 0px 10px 10px;  
}
#menu button {
  float: right;      
  margin: 50px 10px 15px 5px;     
}
.si {
  margin: 20px 25px 15px 25px;  
}
#addEditVHost {
  display: none;
  background-color: #cfb;
  padding: 25px;
}
#addEditVHost input {
  margin: 10px;
}
#vhGuests {
  width: 800px;
}
#vhGuestContainer {
  padding: 10px;
}